*{
	margin:0px;
	padding:0px;
	border:0px;
	font-family:"Microsoft YaHei";
}
body{
max-width:640px;
margin:0px auto;
}
.bar{
	margin:10px 0px 0px;;
	float:left;
	width:100%;
}
.bar ul{
	width:100%;
	list-style-type:none;
}
.bar ul li{
	width:31%;
	margin-left:2%;
	margin-bottom: 2%;
	float:left;
}
.bar img{
	width:100%;
}
.content{
	float:left;
	width:100%;
	margin-top:8px;
}
.ktjk{
	position:relative;
	top:0px;
	left:0px;
}
.ktjk img{
	width:100%;
}
.xqjks{
	width:100%;
}
.xqjk{
	width:47%;
	margin-left:2%;
	position:relative;
	float:left;
}
.xqjk img{
	width:100%;
}
.ktjk-title{
	height:30px;
	width:100%;
	line-height:30px;
	font-size:16px;
	text-indent:20px;
}
.xqjk-title{
	height:25px;
	width:100%;	
	line-height:25px;
	font-size:14px;
	text-indent:15px;
}
.title{
	background-image:url(image/title_bg.png);
	background-repeat:repeat;
	color:#FFFFFF;
	left:0px;
	bottom:5px;
	position:absolute;
}
