<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
<script src="../../common_res/arttemplate/template-native.js"></script>
<script src="../../common_res/jquery/jquery.min.js"></script> 
<script src="../../common_res/lifecircleapi/common.js"></script>
<link href="../../common_res/bootstrap/bootstrap.css" rel="stylesheet" />

<link href="css/life.css" rel="stylesheet" />
</head>

<!-- 内容模板1（包含：含特色图片的图文、含特色视频的图文、单独图文、直播摄像头、点播视频） -->
<body id="lifecirclebody">
<script id="template" type="text/html">

<!-- 顶部返回导航条，包含自动判断添加的发布按钮 -->
<div class="news-title-bar">
	<div class="container">
		<a class="return" href="javascript:;" onclick="history.go(-1)">返回</a>
		<h4><%=page[0].page_title%></h4>
	</div>
</div>

<!-- 内容页，如果文章包含视频和图像，则顶部显示视频并用图像作为海报；如果只有摄像头点播等视频，则显示特色视频；如果有图像，则显示特色图像；否则只显示富文本内容页。 -->
<div class="container news-con-bar">
	<% if ( ""!=sources[0].source_video && ""!=sources[0].source_img && "undefined"!=typeof(sources[0].source_video) && "undefined"!=typeof(sources[0].source_img) ) { %>
	<video controls="controls" preload="preload" autoplay="autoplay" style="width: 100%; height: auto; background: #000;"><source src="<%=sources[0].source_video%>" poster="<%=sources[0].source_img%>" /></video>
	<% } else if ( ""!=sources[0].source_video && "undefined"!=typeof(sources[0].source_video) ) { %>
	<video controls="controls" preload="preload" autoplay="autoplay" style="width: 100%; height: auto; background: #000;"><source src="<%=sources[0].source_video%>" /></video>
	<% } else if ( ""!=sources[0].source_img && "undefined"!=typeof(sources[0].source_img) ) {%>
	<div class="news-con-img"> <img src="<%=sources[0].source_img%>"  alt=""/> </div>
	<% } %>
	<div class="news-con-title"><p><%=sources[0].source_title%></p></div>
	<div class="news-con"><%=sources[0].source_content%></div>
</div>

</script>
</body>
</html>
