<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
<script src="/templatefile/common_res/arttemplate/template-native.js"></script>
<script src="/templatefile/common_res/jquery/jquery.min.js"></script> 
<script src="/templatefile/common_res/lifecircleapi/common.js"></script>
<link href="/templatefile/common_res/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body id="lifecirclebody">
<script id="template" type="text/html">

<article class="container">
	<ul class="metro">
	<% for (i=0, l=sources.length; i<l; i++) { %>
	<% if (""!=sources[i].source_img) { %>
		<li><img src="<%=sources[i].source_img%>" alt="" /><span><%=sources[i].source_title%></span></li>
	<% } %>
	<% } %>
	</ul>
	<div class="box" style="background-color: black;">
		<span class="close"></span>
		<p><img src="https://www.baidu.com/img/bd_logo1.png" /><span>Games</span></p>
	</div>

</article>
</script>
</body>
<script type="text/javascript">
$(document).ready(function () {
	var $box = $('.box');
	$('.metro li').each(function () {
		//var color = $(this).css('backgroundColor');
		var color = 'black';
		var content = $(this).html();
		$(this).click(function () {
			$box.css('backgroundColor', color);
			$box.addClass('open');
			$box.find('p').html(content);
		});
		$('.close').click(function () {
			$box.removeClass('open');
			$box.css('backgroundColor', 'transparent');
		});
	});
});
</script>
</html>