<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
<script src="js/template-native.js"></script>
<script src="js/jquery.min.js"></script> 
<script src="js/common.js"></script>

<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/life.css" rel="stylesheet" />
</head>

<!-- 内容模板4（包含：直播摄像头） -->
<body id="lifecirclebody">
<script id="template" type="text/html">

<!-- 顶部返回导航条，包含自动判断添加的发布按钮 -->
<div class="news-title-bar">
	<div class="container">
		<a class="return" href="javascript:;" onclick="history.go(-1)">返回</a>
		<h4><%=page_title%></h4>
	</div>
</div>

<!-- 内容页，如果摄像头包含略缩图，显示略缩图。 -->
<div class="container news-con-bar">
	<% if ( ""!=liveObjs[0].liveObj_img ) { %>
	<video controls="controls" preload="preload" autoplay="autoplay" style="width: 100%; height: auto; background: #000;"><source src="<%=liveObjs[0].liveObj_address%>" poster="<%=liveObjs[0].liveObj_img%>" /></video>
	<% } else {%>
	<video controls="controls" preload="preload" autoplay="autoplay" style="width: 100%; height: auto; background: #000;"><source src="<%=liveObjs[0].liveObj_address%>" /></video>
	<% } %>
	<div class="news-con-title"><p><%=liveObjs[0].liveObj_title%></p></div>
	<div class="news-con"><%=liveObjs[0].liveObj_content%></div>
</div>

</script>
</body>
</html>
