@CHARSET "UTF-8";
 html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
        fieldset, img { border:none; }
        img{display: block;}
        address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
        ul, ol { list-style:none; }
        input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
        input::-moz-focus-inner { border:none; padding:0; }
        select, input { vertical-align:middle; }
        select, input, textarea { font-size:12px; margin:0; }
        input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
        textarea { resize:none; }
        table { border-collapse:collapse; }
        body { color:#333; font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;/* overflow-y:scroll;*/ }
        .clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
        .clearfix { zoom:1; }
        .clearit { clear:both; height:0; font-size:0; overflow:hidden; }
        a { color:#666; text-decoration:none; }
        a:visited { color:; text-decoration:none;}
        a:hover{ color:; text-decoration:none; }
		a:active{ color:; text-decoration:none; }
*{
	font-family:"Microsoft YaHei";
	margin:0px;
	padding:0px;
}
.categorygrid {
	overflow: hidden;
}
.categorygrid li {
	position: relative;
	display: block;
	width: 25%;
	list-style-type: none;
	float: left;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0;
	border: 0;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border-right: 1px #d7d7d7 solid;
	border-bottom: 1px #d7d7d7 solid;
}
.categorygrid img {
	width: 45%;
	padding-top: 10%;
	margin: auto;
}
.categorygrid p {
	font-size: 12px;
	color: #979797;
	display: block;
	font-size: 13px;
	margin-top: 10%;
	padding-bottom: 5%;
}
