
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, div {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}
 a{ color: #333;}
 a:hover,
 a:focus,
 a:active {
     color: #333;
     text-decoration: none;
 }
ul li,ol li {
    list-style-type: none;
}
.left{ float: left;}
.right{ float: right;}
.nav_bar li.dropdown{
    width: 15.1%;
    text-align: center;
}
.quick-entry-nav li {
    width: 25%;
    float: left;
    margin-bottom: 10px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    font-family: microsoft YaHei;
}
.quick-entry-nav li a:hover,
.quick-entry-nav li a:focus,
.quick-entry-nav li a:active
 {
    color: #333;
    text-decoration: none; 
}
.quick-entry-nav li img {
    width: 70%;
}
.quick-entry-nav li p {
    line-height: 30px;
}

.pro-item {
    border-bottom:  1px solid #c5c5c5;
    padding:0 15px 15px 15px;
}
.pro-item .pic{
    width: 35%;
    overflow: hidden;
    float: left;
}
.pro-item .pic img {
    width: 100%;
} 
.pro-item .title-bar {
    width: 61%;
    margin-left: 10px;
    float: left;
}
.nav_bar select {
    padding: 2px;
    font-size: 12px;
    border: none;
    box-shadow: none;
    height: 26px;
    outline: none;
   
} 
.nav_bar a:hover,.nav_bar a:focus {
    color: #ffffff;
}

.eject{display: block;width: 100%;height: 30px;text-align: center; background: url(../image/icon/common_down.png) no-repeat center; background-size: 20px;}
 .common_up{height: 30px;text-align: center; background: url(../image/icon/common_up.png) no-repeat center; background-size: 20px;}
.eject-banner img{ width: 100%;height: auto;}
.province{ width: 100%;height: auto;overflow: hidden; }
.province img{ width: 100%;height: auto;}
.common_play{position: absolute; left: 50%; margin-left: -30px; top: 50%; margin-top: -30px; display: block; width: 60px; height: 60px; overflow: hidden;}
.common_play img{ width: 100%;height: 100%;} 
  .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .category{ margin-top: 20px;}
    .category ul  li {
        position: relative;
        display: block;
        width: 25%;
        list-style-type: none;
        float: left;
        text-align: center;
        padding: 2%;
    }
     
 
    .category  ul li a  img {
        width: 80%;
    }
    .category  ul li a  p{
        color: #666;
        margin-top: 5px;
        
    }
    .common-title-bar{position: relative;height: 40px;border-left: 2px solid #fdab01;line-height: 40px;margin-top: 10px;background: url(../image/icon/hr.png) repeat-x;}
    .common-title{ padding:0 10px;font-size: 18px;color: #666;background: #fff;} 
    .common-title-bar .more{position: absolute;top: 0;right: 10px;z-index: 9;display: block;width: 20px;height: 20px;}
    .common-title-bar .more img{ width: 100%;}
    .news-item ul li{
     width: 100%;
    height: 74px;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
        overflow: hidden;
    }
    .news-item ul li:last-child{ border: none;}
    .news-item .news-img{ width: 70px;height: 54px;overflow: hidden;background: #ff6600;}
     .news-item .news-img img {
         width: 100%;
         height: 68px;
     }
     .news-item .news-brief-bar{ width: 75%;padding-left: 2%;height: 54px; overflow: hidden;}
   
     .news-item .news-brief-bar p:last-child{color: #999; font-size: 12px;height: 32px; overflow: hidden;}
     .news-item .news-brief-bar .news-title{ font-size: 16px;width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}


  /*新闻列表样式*/
  .news-title-bar {
      height: 52px;
      line-height: 50px;
      text-align: center;
      position: relative;
      border-bottom: 2px solid #fdab01;
  }
  .news-title-bar .return {
      position: absolute;top: 0;left: 15px;
      display: block;width: 46px;height: 50px;
      text-align: right;
      background: url(../image/icon/common_back.png) no-repeat left;
      background-size: 12px; 
  }
   /*新闻内容样式*/
   .news-con-bar { margin-top: 10px;}
   .news-con-bar img{ width: 100%;height: auto;}
   .news-con-title{ margin: 15px 0;text-align: center;font-size: 18px;}
    .news-con-bar .news-con { margin-bottom: 10px;color: #666;
    }

     /*社区样式*/
     .an-number{ position: absolute;right: 10px;top: 8px;width: 20px;height: 20px;background: #ff0b0b;color: #fff;border-radius: 50%;}

    /*社区帮帮列表样式*/
    .publish { position: absolute;top:0;right: 15px;font-size: 16px;}


    /*社区帮帮内容样式*/
    .shequ-user-bar{ margin-top: 10px;position: relative;}
    .shequ-user-bar .user-logo{ width: 45px;height: 45px;border-radius: 50%;overflow: hidden;float: left;}
    .shequ-user-bar .user-info { float: left;height: 45px;margin-left: 10px;color: #666;}
     .shequ-user-bar .user-info  .user-name{ font-size: 16px;font-weight: 500;line-height: 30px;}
      .shequ-user-bar .reply-message{ position: absolute;top: 15px;right: 15px;}
       .shequ-user-bar .reply-message img{width: 25px; height: 25px;}
     .comment-bar{ margin-top: 10px;}
     .comment-bar .comment-nav { width: 100%;height: 50px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;line-height: 48px;}
      .comment-bar .comment-nav ul li{ width: 33.3%;text-align: center;float: left}
      .comment-bar .comment-nav ul li a span{ color: #ff0b0b; }
      .comment-bar .comment-nav ul li a img{ width: 25px; height: 25px; margin-right: 5px;}
       .message-list ul li{ border-bottom: 1px solid #ccc;color: #666;}
       .message-list ul li:last-child{ border-bottom: none;}
      .message-list .message-con{ margin: 10px 0;} 
      .reply-someone { font-size: 12px;color: #ccc;}
      .reply-someone a{color:#ff0b0b; }
       .reply-someone a span{ padding: 0 5px;}

     /*社区帮帮-发布页面样式*/

     .guestbook textarea{ width:100%;height: 152px;resize: none;margin: 10px 0;border: 1px solid #ccc;border-radius: 5px;padding: 10px;outline: none;color: #333;}
     .upload-bar{ position: relative;border-bottom: 1px solid #ccc;margin-bottom: 20px;} 
     .upload-img{ margin: 10px 0; }
      .file {
    position: relative;
    display: inline-block;
    background: url(../image/icon/icon-upload.png) no-repeat center;
    background-size: 97px;
    border-radius: 4px;
    width: 97px;
    height: 56px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}