@CHARSET "UTF-8";
 html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0;}
        fieldset, img { border:none; }
        address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
        ul, ol { list-style:none; }
        input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
        input::-moz-focus-inner { border:none; padding:0; }
        select, input { vertical-align:middle; }
        select, input, textarea { font-size:12px; margin:0; }
        input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
        textarea { resize:none; }
        table { border-collapse:collapse; }
        body { color:#333; background-color: #F3F4F5;font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;/* overflow-y:scroll;*/ padding-left: 20px;padding-right: 20px;}
        .clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
        .clearfix { zoom:1; }
        .clearit { clear:both; height:0; font-size:0; overflow:hidden; }
        a { color:#445560; text-decoration:none; }
        a:visited {  text-decoration:none;}
        a:hover{ color:; text-decoration:none; }
		a:active{ color:; text-decoration:none; }
*{
	font-family:"Microsoft YaHei";
	 margin:0; padding:0;
}
.form-search.form-inline {
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

/* index-cat用来设计圆形按钮导航栏 */
.index-cat{
	width: 100%;
	float: left;
}
.index-cat ul{
	margin:0px auto;
	color:#445560;
	display: block;
	width: 100%;
	float: left;
}
.index-cat li{
	width: 25%;
	height:100%;
	float:left;
	display: block;
}
.index-cat .tabs{
	width:100%;
	clear:both;
	padding-bottom:0px;
	float:left;
}
.index-cat .titles{
	margin-top:5px;
	width:100%;
	text-align:center;
	height:30px;
	line-height:30px;
	float:left;
	font-size:14px;
	color: #445560;
	display:none;
}
.index-cat td{
	width:25%;
}
.index-cat tr{
	height:50%;
}
.index-cat img{
	width: 100%;
}
.index-cat ul li a {
	display: block;
	margin-right: 10px;
}
/* normal-goods是商品列表 */
section#goods-container {
    width: 100%;
    float: left;
}
section.good {
	float: left;
	width: 33.33%;
	margin-bottom: 15px;
}
.normal-goods .good-content {
	height: 100%;
	display: table;
	padding-right: 10px;
}
.normal-goods .good-content .img-wrapper {
	float:left;
	position:relative;
	width: 100%;
	height: 190px;
	overflow:hidden
}
.normal-goods .good-content .img-wrapper img {
	display:block;
	width:100%;
	height: 190px;
}
.normal-goods .good-content .info-wrapper {
	position:relative;
	
	float: left;
}
.normal-goods .good-content .info-wrapper .title-line {
	line-height: 20px;
	height: 35px;
	width: 100%;
	overflow:hidden;
	float: left;
}
.normal-goods .good-content .info-wrapper .title-line .title {
	float:left;
	line-height: 20px;
}
.normal-goods .good-content .info-wrapper .title-line .title .item-name {
	display:inline-block;
	max-width:100%;
	font-size: 17px;
	color:#445560;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin: 10px 0px;
}
.normal-goods .good-content .info-wrapper .star-gray {
	height: 16px;
	width: 87px;
	display: inline-block;
	background: url("../img/fujin-0star.png") no-repeat;
	background-size: auto 100%;
	float: left;
}
.normal-goods .good-content .info-wrapper .star-real {
	width: 0;
	height: 100%;
	background: url("../img/fujin-5star.png") no-repeat;
	background-size: auto 100%;
}
.normal-goods .good-content .info-wrapper .score {
	font-size: 13px;
	color: #888888;
	padding-left: 5px;
	float: left;
}

.normal-goods .good-content .info-wrapper .haoping {
	margin-left: 10px;
	vertical-align: 1px;
	font-size: 14px;
	color: #fe7e01;
}
.normal-goods .good-content .info-wrapper .desc {
	line-height:16px;
	height:32px;
	margin-top: 10px;
	overflow:hidden;
	display:	
	-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	font-size: 15px;
	color: #445560;
	float: left;
}
.normal-goods .good-content .info-wrapper .desc strong {
	color:red
}
.moreseven{
	display:none;
}
#moredown{
	width:100%;
	height:25px;
	background-image: url(../img/moredown.png);
	background-repeat: no-repeat;
	background-position: center center;
	float:left;
}
#moreup{
	width:100%;
	height:25px;
	background-image: url(../img/moreup.png);
	background-repeat: no-repeat;
	background-position: center center;
	display:none;
	float:left;
}

/* 顶部搜索 */
form.form-search.form-inline {
    padding-top: 10px;
    background: #f3f4f5;
    position: fixed;
    padding-bottom: 5px;
    width: 50%;  
    box-sizing: border-box;
    z-index: 10;
}
input#searchId {
    line-height: 30px;
    border-radius: 4px;
    font-size: 15px;
    color: #888888;
    width: 345px;
    height: 35px;
    border: 1px #C4C4C4 solid;
    font-family: 'Microsoft YaHei';
    text-indent: 5px;
}
select.searchdistance {
    line-height: 30px;
    border-radius: 4px;
    font-size: 15px;
    color: #888888;
    height: 35px;
    border: 1px #C4C4C4 solid;
    font-family: 'Microsoft YaHei';
    text-indent: 5px;
    padding-right: 10px;
}
button#submitButton {
    width: 40px;
    height: 37px;
    line-height: 32px;
    font-size: 15px;
    border: 0px;
    background-color: #f3f4f6;
    color: #445560;
}

.weinintuijian {
	line-height:30px;
	font-size: 17px;
	color:#445560;
	width:100%;
	float: left;
	margin-top: 15px;
}
.weinintuijian_hr {
	margin: 0px 0px 10px 0px;
	border: 0;
	border-top: 2px solid #c4c4c4;
	position: relative;
	bottom: 15px;
	height: 0;
	margin-left: 80px;
	margin-right: 12px;
}
