@CHARSET "UTF-8";
 html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
        fieldset, img { border:none; }
        img{display: block;}
        address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
        ul, ol { list-style:none; }
        input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
        input::-moz-focus-inner { border:none; padding:0; }
        select, input { vertical-align:middle; }
        select, input, textarea { font-size:12px; margin:0; }
        input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
        textarea { resize:none; }
        table { border-collapse:collapse; }
        body { color:#333; font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;/* overflow-y:scroll;*/ }
        .clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
        .clearfix { zoom:1; }
        .clearit { clear:both; height:0; font-size:0; overflow:hidden; }
        a { color:#666; text-decoration:none; }
        a:visited { color:; text-decoration:none;}
        a:hover{ color:; text-decoration:none; }
		a:active{ color:; text-decoration:none; }
*{
	font-family:"Microsoft YaHei";
	margin:0px;
	padding:0px;
}
.news-con-bar {
	margin: 20px;
}
.news-con-bar img {
	height: auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	max-width: 50%;
}
.news-con-title {
	margin: 30px;
	text-align: center;
	font-size: 20px;
	color: #445560;
}
.news-con-bar .news-con {
	margin: 30px;
	color: #445560;
	font-size: 15px;
	line-height: 1.8em;
}
.news-con-bar .news-con p {
	text-indent: 2em;
}