<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<script src="../../common_res/arttemplate/template-native.js"></script>
<script src="../../common_res/jquery/jquery.min.js"></script> 
<script src="../../common_res/lifecircleapi/common.js"></script>
<link href="../../common_res/bootstrap/bootstrap.css" rel="stylesheet" />

<link href="css/wodeindex.css" rel="stylesheet" type="text/css" />
</head>

<!-- 首页模板2（包含：我的首页） -->
<body id="lifecirclebody">
<script id="template" type="text/html">

<!-- 矩阵式分类导航 -->
<div class="bar">
	<ul>
	<% for (i=0, l=categorys.length; i<l; i++) { %>
		<li id="<%=categorys[i].category_id%>"><a target="_parent" href="<%=categorys[i].category_src%>"><img src="<%=categorys[i].category_img%>" /></a></li>
	<% } %>
	</ul>
</div>

<% if ( sources.length > 0 ) { %>
<!-- 第一行大图 -->
<div class="content">
	<div class="ktjk">
	<a target="_parent" href="<%=sources[0].source_src%>"><img src="<%=sources[0].source_img%>"/></a>
	<div class="ktjk-title title"><%=sources[0].source_title%></div>
	</div>
</div>
<% } %>

<!-- 接下来是每行两个的小图 -->
<div class="content">
<% for (i=1, l=sources.length; i<l; i++) { /* 循环从1开始，0是客厅监控 */ %>
	<div class="xqjks">
		<div class="xqjk">
		<a target="_parent" href="<%=sources[i].source_src%>"><img src="<%=sources[i].source_img%>"/></a>
		<div class="xqjk-title title"><%=sources[i].source_title%></div>
		</div>
	</div>
<% } %>
</div>
</script>
</body>
</html>
