<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
<script src="js/template-native.js"></script>
<script src="js/common.js"></script>
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/life.css" rel="stylesheet" />
</head>

<!-- 列表模板1（包含：省市等新闻图文列表、社区帮帮图文、社区风采图文） -->
<body id="lifecirclebody">
<script id="template" type="text/html">

<!-- 顶部返回导航条，包含自动判断添加的发布按钮 -->
<div class="news-title-bar">
	<div class="container">
		<a class="return" href="<%=page_back_src%>">返回</a>
		<h4><%=page_title%></h4>
		<% if (""!=page_publishurl) { %>
		<a href="<%=page_publishurl%>" class="publish btn btn-warning">发布</a>
		<% } %>
	</div>
</div>


<!-- 列表页，如果文章包含视频，则添加视频标示符号 -->
<div class="news-item">
	<ul>
	<% for (i=0, l=infoObjs.length; i<l; i++) { %>
	<li class="clearfix">
		<a href="<%=infoObjs[i].infoObj_src%>">
			<div class="news-img left">
				<img src="<%=infoObjs[i].infoObj_img%>" alt="" />
				<% if (""!=infoObjs[i].video) { %><p class="icon-play-sm"></p><% } %>
			</div>
			<div class="news-brief-bar left clearfix">
				<p class="news-title left" id="<%=infoObjs[i].infoObj_id%>" style="width: initial;"><%=infoObjs[i].infoObj_title%></p>
				<% if (""!=infoObjs[i].video) { %><span class="icon-vedio left"></span><% } %>
				<p class="left"><%=infoObjs[i].infoObj_summary%></p>
			</div>
		</a>
	</li>
	<% } %>
	</ul>
</div>

</script>
</body>

<!-- js脚本，防止标题文字过长 -->
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//限制字符个数
		$(".news-title").each(function () {
			var maxwidth=10;
			if($(this).text().length>maxwidth){
				$(this).text($(this).text().substring(0,maxwidth));
				$(this).html($(this).html()+"…");
			}
		});
	});
</script>
</html>
