<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<script src="../../common_res/arttemplate/template-native.js"></script>
<script src="../../common_res/jquery/jquery.min.js"></script> 
<script src="../../common_res/lifecircleapi/common.js"></script>
<link href="css/Business_details.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="lifecirclebody">
<script id="template" type="text/html">
<div class="pager">
	<div class="business_pic">
		<img src="<%=merchant.merchant_img%>"/>
	</div>
	<div class="right">
		<ul>
			<li><%=merchant.merchant_name%></li>
			<li>
				<div class="pj"><div style="width:<%=merchant.merchant_score%>;" class="pi_star"><img src="image/5star.png"/></div></div>
				<div class="pj"><%=merchant.merchant_comment_number%>个评价</div>
			</li>
			<li>
				<a href="tel:<%=merchant_phone%>"><div class="phonemsg">电话：<%=merchant.merchant_phone%></div><div class="tel"></div></a>
			</li>
			<li>
				<a href="javascript:;" onclick="showMap('<%=merchant.merchant_name%>')" >
				<div class="addressmsg">地址：<%=merchant.merchant_address%></div>
				<div class="dizhi"><div id="merchant_location" style="display:none"><%=merchant.merchant_location%></div></div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="wrapper">
	<div class="nav">
		<ul>
			<li id="video111" nav="video" class="select">现场监控</li>
			<li id="product111" nav="product">产品介绍</li>
			<li id="estimate111" nav="estimate">评价商家</li>
		</ul>
	</div>
	<div class="nav_content video">
		<ul>
			<% for (i=0, l=sources.length; i<l; i++) { %>
			<li>
				<a href="<%=sources[i].source_src%>">
				<img src="<%=sources[i].source_img%>"/>
				<div class="video_titel"><%=sources[i].source_title%></div>	
				</a>	
			</li>
			<% } %>
		</ul>
	</div>
</div>
</script>
</div>
<div class="nav_content product" id="product222">
	<script id="asdfadsfa" type="text/html">
		<ul>
			<% for (i=0, l=products.length; i<l; i++) { %>
			<li>
				<div class="product_pic"><img src="<%=products[i].product_img%>"/></div>
				<div class="product_name"><%=products[i].product_name%></div>
				<div class="product_msg"><%=products[i].product_summary%></div>
			</li>
			<% } %>
		</ul>	
	</script>
</div>
<div class="nav_content estimate" id="comment222">
	<script id="template_estimate" type="text/html">
		<div class="gostar"><p>最新评论</p><a href="javascript:;" onClick="submitComment();"><img src="./image/community_icon_comment.png">我要评论</a></div>
		<ul style="padding-bottom:40px;">
			<% for (i=0, l=commons.length; i<l; i++) { %>
			<li>
				<div class="user_msg">
					<div class="user_pic"><img src="<%=commons[i].user_issuerimg%>"/>
					</div>
					<% if (commons[i].user_nickname) { %>
					<div class="user_name"><%=commons[i].user_nickname%></div>
					<% }else{ %>
					<div class="user_name"><%=commons[i].user_id%></div>
					<% }%>
					<div class="user_name"><%=commons[i].common_date%></div>
				</div>
				<div class="user_estimate"><%=commons[i].common_content%></div>
			</li>
			<% } %>
		</ul>
	</script>
</div>
</body>
<script>
var a=1;
var b=1;
$(document).ready(function(){
	var hdw = $('.nav ul li');
	hdw.click(function(){
		hdw.removeClass('select');
		$(".nav_content").hide();
		$(this).addClass('select');
		var theNav= $(this).attr("nav");
		$("."+theNav).show();
	});
	var productevent = $('#product111');
	productevent.click(function(){
		if(a>1)
			return;
		$.ajax({
			url : '/Portal/getProduct'+window.location.search,
			type : 'POST',
			dataType : 'json',
			contentType : "application/json",
			async : false,
			success : function(data) {
				data =eval(data)[0];
					a++;
					var html = template('asdfadsfa', data);
					$("#product222").html(html);
					
			},
			error : function(e) {
				console.log(e);
			}
		});
	});
	var estimateevent = $('#estimate111');
	estimateevent.click(function(){
		if(b>1)
			return;
		$.ajax({
			url : '/Portal/getCommentList'+window.location.search,
			type : 'POST',
			dataType : 'json',
			contentType : "application/json",
			async : false,
			success : function(data) {
				data =eval(data)[0];
					b++;
					var html = template('template_estimate', data);
					document.getElementById('comment222').innerHTML = html;
			},
			error : function(e) {
				console.log(e);
			}
		});
	});
});
function submitComment(){
	window.location.href='/templatefile/baseTemplat/pad_Publish3_ShangJiaStar/index.html'+window.location.search;
}

function showMap(name){
	name=encodeURI(name);
	var merchantLocation = document.getElementById("merchant_location").innerHTML;
	window.location.href='/templatefile/baseTemplat/pad_Content3_MapSearch/index.html'+window.location.search+"&merchantName="+name+"&merchant_location="+merchantLocation;
}
</script>
</html>
