<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<script src="/templatefile/common_res/arttemplate/template-native.js"></script>
<script src="/templatefile/common_res/jquery/jquery.min.js"></script> 
<script src="/templatefile/common_res/lifecircleapi/common.js"></script>
<script src="js/nearby_index.js"></script>
<link rel="stylesheet" type="text/css" href="css/nearby_index.css">
</head>
<body id="lifecirclebody">
<script id="template" type="text/html">
<div class="form-search form-inline">
	<input class="input-medium search-query" id="searchId" type="text" placeholder="搜索地点 商户等" />
	<select class="searchdistance" style="display: none;">
		<option value="5000" selected="selected">请选择搜索多大范围内的商家</option>
		<option value="500">500米</option>
		<option value="1000">1千米</option>
		<option value="2000">2千米</option>
		<option value="5000">5千米</option>
		<option value="10000">10千米</option>
	</select>
	<button type="button" id="submitButton">搜索</button>
</div>
<div class="container-fluid">
<div class="index-cat">
	<ul>
		<% for (i=0, l=categorys.length; i<l; i++) { %>
		<li<% if (i >= 7) {%> class="moreseven"<%}%>>
			<a target="_parent" href="<%=categorys[i].category_src%>">
				<img src="<%=categorys[i].category_img%>"/>
				<div class="titles"><%=categorys[i].category_title%></div>
			</a>
		</li>
		<% } %>
		<li>
			<a target="_parent" href="javascript:;" onclick="openMerchant();">
				<img src="img/sjzx_pad.png" />
				<div class="titles">商家入驻</div>
			</a>
		</li>
	</ul>
	<% if (categorys.length > 7) { %>
		<div id="moredown"></div>
		<div id="moreup"></div>
	<% } %>
</div>
<div class="weinintuijian">为您推荐<hr class="weinintuijian_hr" /></div>
<section id="goods-container">
	<div class="normal-goods">
		<% for (i=0, l=merchants.length; i<l; i++) { %>
			<section class="good">
				<a  target="_parent" class="good-content" href="<%=merchants[i].merchant_src%>">
					<div class="img-wrapper">
						<div class="img-placeholder">
							<img src="<%=merchants[i].merchant_img%>" width="120" height="72" style="visibility: visible;">
						</div>
					</div>
					<div class="info-wrapper">
						<div class="title-line"><div class="title"><p class="item-name"><%=merchants[i].merchant_name%></p></div></div>
						<div class="star-gray"><div class="star-real" style="width:<%=merchants[i].merchant_score%>;"></div></div>
						<span class="score"><%=merchants[i].merchant_comment_number%>个评价</span>
						<p class="desc"><%=merchants[i].merchant_address%></p>
					</div>
				</a>
			</section>
		<% } %>
	</div>
</section>
</div>
</script>
</body>
</html>
