<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
<script src="js/template-native.js"></script>
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/swiper.css" rel="stylesheet" />
<link href="css/life.css" rel="stylesheet" />
</head>
<body style="position: relative;">
<div class="province"> <img src="image/province_logo.png" alt="" /> </div>
<div class="swiper-container">
	<div class="swiper-wrapper">
	<script type="text/html">
	<% for (i=0, l=recommends.length; i<l; i++) { %>
		<div class="swiper-slide">
			<!--<div class="common_play"><img src="image/icon/common_play.png" alt=""></div>-->
			<a href="<%=recommends[i].recommend_src%>">
				<img src="<%=recommends[i].recommend_img%>" style="width: 100%;" />
			</a>
			<div class="carousel-caption"><%=recommends[i].recommend_name%></div>
		</div>
	<% } %>
	</script>
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>
<div class="category">
	<ul class="clearfix">
		<script type="text/html">
	<% for (i=0, l=categorys.length; i<l; i++) { %>
		<li>
		<a href="<%=categorys[i].category_src%>">
		<img src="<%=categorys[i].category_img%>" alt=""/>
		<p><%=categorys[i].category_name%></p>
		</a>
		</li>
	<% } %>
	</script>
	</ul>
</div>

<div class="news-item">
	<ul>
		<script type="text/html">
		<% for (i=0, l=1; i<l; i++) { %>
			<li class="clearfix">
				<a href="<%=infoObjs[i].infoObj_src%>">
					<div class="news-img left">
						<img src="<%=infoObjs[i].infoObj_img%>" />
					</div>
					<div class="news-brief-bar left">
						<p class="news-title" id="<%=infoObjs[i].infoObj_id%>"><%=infoObjs[i].infoObj_title%></p>
						<p><%=infoObjs[i].infoObj_summary%></p>
					</div>
				</a>
			</li>
		<% } %>
		</script>

	</ul>
</div>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.js"></script> 
<script src="js/swiper.min.js"></script>
<script>
	$("#eject1").click(function() {
		$(".eject-banner").slideToggle(300);
		$(this).toggleClass("common_up");
	});
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		paginationClickable: true
	});
</script>
</body>
</html>
