*{
	margin:0px;
	padding:0px;
	border:0px;
	box-sizing:border-box;
	font-family:"Microsoft YaHei";
}
body{
	background-color: blue;
	background: url(../image/community_bg.jpg) no-repeat left;
	background-position-x: 0%;
	background-position-y: 0%;
}
ul{
	list-style-type:none;
}

/* 顶部 */
.head{
	position: absolute;
	left: 50px;
	top: 30px;
	background: url(../image/icon_back.png) no-repeat left;
	font-size: 30px;
	color: #90A7D0;
	padding-left: 30px;
}

/* 详情部分 */
.content{
	position:absolute;
	left:80px;
	top: 120px;
	width: 1140px;
	height: 480px;
	overflow: hidden;
}
.content img {
    max-width: 80%;
    min-width: 20%;
}
.coninfo {
	width: 1130px;
	display: block;
	float: left;
	transform: translateY(0px);
}
.huadongtiao {
    float: left;
    width: 10px;
    height: 480px;
    border-radius: 5px;
    background-color: #376094;
}
.list_title {
	font-size: 29px;
	color: #FAFAFC;
	line-height: 40px;
	text-align: center;
}
.list_content {
	font-size: 25px;
	padding-top: 30px;
	color: #FAFAFC;
	line-height: 41px;
}
.list_content p{
	text-indent: 2em;
}
.huadongtiao-in {
    float: left;
    width: 10px;
    height: 48px;
    top: 10px;
    position: relative;
    border-radius: 5px;
    background-color: #859FBE;
}
