<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<script src="../../common_res/arttemplate/template-native.js"></script>
<script src="../../common_res/jquery/jquery.min.js"></script> 
<script src="../../common_res/lifecircleapi/common.js"></script>
<link rel="stylesheet" type="text/css" href="css/shangpinliebiao.css">
</head>
<body id="lifecirclebody">
<script id="template" type="text/html">
<div class="container-fluid" style=" margin-top:10px; padding-top:10px;">
	<div class="row-fluid">
		<div class="span12">
			<section id="goods-container">
				<div class="normal-goods">
				<% for (i=0, l=merchants.length; i<l; i++) { %>
					<section class="good">
					<a class="good-content" href="<%=merchants[i].merchant_src%>">
						<div class="img-wrapper">
							<div class="img-placeholder">
								<img src="<%=merchants[i].merchant_img%>" style="visibility: visible;">
							</div>
						</div>
						<div class="info-wrapper">
							<div class="title-line">
								<div class="title">
									<p class="item-name"><%=merchants[i].merchant_name%></p>
								</div>
							</div>
							<div class="star-gray"><div class="star-real" style="width:<%=merchants[i].merchant_score%>"></div></div>
							<span class="score"><%=merchants[i].merchant_comment_number%>个评价</span>
							<p class="desc"><%=merchants[i].merchant_address%></p>
						</div>
					</a>
					</section>
				<% } %>
				</div>
			</section>			
		</div>
	</div>
</div>
</script>
</body>
</html>
