<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<script src="../../common_res/arttemplate/template-native.js"></script>
<script src="../../common_res/jquery/jquery.min.js"></script> 
<script src="../../common_res/lifecircleapi/common.js"></script>
<link href="css/Business_details.css" rel="stylesheet" type="text/css" />
</head>
<!-- 二级页面包含分类） -->
<body>
<div id="lifecirclebody" style="width:100%;float:left;">
<!-- 顶部返回导航条 -->
<script id="template" type="text/html">
<div class="pager">
	<div class="business_pic">
		<img src="<%=merchant.merchant_img%>"/>
	</div>
	<% if (sources.length == 0){ %>
	<% }else{%>
	<div class="business_video">
		<ul>
			<% for (i=0, l=sources.length; i<l; i++) { %>
			<li>
				<a href="<%=sources[i].source_src%>">
				<img src="<%=sources[i].source_img%>"/>
				<div class="video_titel"><%=sources[i].source_title%></div>	
				</a>	
			</li>
			<% } %>
		</ul>
	</div>
	<% } %>
</div>
<div class="wrapper">
	<div class="nav">
		<ul>
			<li class="select" nav="msg">商家信息</li>
			<li id="product111" nav="product">产品介绍</li>
			<li id="estimate111" nav="estimate">评价商家</li>
		</ul>
	</div>
	<div class="nav_content msg">
		<ul>
			<li style=" font-size:15px;"><%=merchant.merchant_name%></li>
			<li>
				<div class="pj">
					<div style="width:<%=merchant.merchant_score%>;" class="pi_star"><img src="image/5star.png"/></div>
				</div>
				<div class="pj" style="background-image:none;"><%=merchant.merchant_comment_number%>个评价</div>
			</li>
			<li>电话：<%=merchant.merchant_phone%> <div class="tel"><a href="tel:<%=merchant_phone%>"></a></div></li>
			<li style="line-height:25px; padding-top:8px; float:left; width:100%;">
				<div class="addressmsg">地址：<%=merchant.merchant_address%></div>
				<div class="dizhi">
					<div id="merchant_location" style="display:none"><%=merchant.merchant_location%></div>
					<a href="javascript:;" onclick="showMap('<%=merchant.merchant_name%>')" ></a>
				</div>
			</li>
		</ul>
	</div>
	</script>
</div>

	<div class="nav_content product" id="product222">
	<script id="asdfadsfa" type="text/html">
		<ul>
			<% for (i=0, l=products.length; i<l; i++) { %>
			<li>
				<div class="product_pic"><img src="<%=products[i].product_img%>"/></div>
				<div class="product_name"><%=products[i].product_name%></div>
				<div class="product_msg"><%=products[i].product_summary%></div>
			</li>
			<% } %>
		</ul>	
	</script>
	</div>
	<div class="nav_content estimate" id="comment222" style="width:100%;float:left;">
		<script id="template_estimate" type="text/html">
			<ul style="padding-bottom:40px;">
				<% for (i=0, l=commons.length; i<l; i++) { %>
				<li>
					<div class="user_msg">
						<div class="user_pic"><img src="<%=commons[i].user_issuerimg%>"/>
						</div>
						<% if (commons[i].user_nickname) { %>
						<div class="user_name"><%=commons[i].user_nickname%></div>
						<% }else{ %>
						<div class="user_name"><%=commons[i].user_id%></div>
						<% }%>
						<div class="user_name"><%=commons[i].common_date%></div>
					</div>
					<div class="user_estimate"><%=commons[i].common_content%></div>
				</li>
				<% } %>
			</ul>
			<div class="gostar"><a href="javascript:;" onClick="submitComment();">留下您的评论吧</a></div>
		</script>
	</div>
</div>

</body>
<script>
var a=1;
var b=1;
$(document).ready(function(){
	var hdw = $('.nav ul li');
	hdw.click(function(){
		hdw.removeClass('select');
		$(".nav_content").hide();
		$(this).addClass('select');
		var theNav= $(this).attr("nav");
		$("."+theNav).show();
	});
	var productevent = $('#product111');
	productevent.click(function(){
		if(a>1)
			return;
		$.ajax({
			url : '/Portal/getProduct'+window.location.search,
			type : 'POST',
			dataType : 'json',
			contentType : "application/json",
			async : false,
			success : function(data) {
				data =eval(data)[0];
					a++;
					var html = template('asdfadsfa', data);
					$("#product222").html(html);
					
			},
			error : function(e) {
				console.log(e);
			}
		});
	});
	var estimateevent = $('#estimate111');
	estimateevent.click(function(){
		if(b>1)
			return;
		$.ajax({
			url : '/Portal/getCommentList'+window.location.search,
			type : 'POST',
			dataType : 'json',
			contentType : "application/json",
			async : false,
			success : function(data) {
				data =eval(data)[0];
					b++;
					var html = template('template_estimate', data);
					document.getElementById('comment222').innerHTML = html;
			},
			error : function(e) {
				console.log(e);
			}
		});
	});
});

function submitComment(){
	window.location.href='/templatefile/baseTemplat/Publish3_ShangJiaStar/Publish3_ShangJiaStar.html'+window.location.search;
}

function showMap(name){
	name=encodeURI(name);
	var merchantLocation = document.getElementById("merchant_location").innerHTML;
	window.location.href='/templatefile/baseTemplat/Content3_MapSearch/Content3_MapSearch.html'+window.location.search+"&merchantName="+name+"&merchant_location="+merchantLocation;
}
	
</script>
</html>
