<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<script src="../../common_res/arttemplate/template-native.js"></script>
<script src="../../common_res/jquery/jquery.min.js"></script> 
<script src="../../common_res/lifecircleapi/common.js"></script>

<link href="css/wanggeshifenlei.css" rel="stylesheet" type="text/css" />
</head>

<!-- 列表模板4（包含：网格式子分类列表） -->
<body id="lifecirclebody">
<script id="template" type="text/html">

<ul class="clearfix categorygrid">
<% for (i=0, l=categorys.length; i<l; i++) { %>
<a href="<%=categorys[i].category_src%>">
	<li id="categorygrid<%=i%>">
		<img src="<%=categorys[i].category_img%>">
		<p><%=categorys[i].category_title%></p>
	</li>
</a>
<% } %>
</ul>
</script>
</body>
</html>
