<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no" />
<script src="../../common_res/arttemplate/template-native.js"></script>
<script src="../../common_res/jquery/jquery.min.js"></script> 
<script src="../../common_res/lifecircleapi/common.js"></script>
<link href="../../common_res/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link href="css/life.css" rel="stylesheet" />
</head>

<!-- 列表模板1（包含：省市等新闻图文列表、社区帮帮图文、社区风采图文） -->
<body id="lifecirclebody">
<script id="template" type="text/html">

<!-- 顶部返回导航条，包含自动判断添加的发布按钮 -->
<div class="news-title-bar">
	<div class="container">
		<a class="return" href="javascript:;" onclick="history.go(-1)">返回</a>
		<h4 style="line-height: 46px;"><%=page[0].page_title%></h4>
		<% if (""!=page[0].page_publishurl && "undefined"!=typeof(page[0].page_publishurl) ) { %>
		<a href="<%=page[0].page_publishurl%>" class="publish btn btn-warning">发布</a>
		<% } %>
	</div>
</div>


<!-- 列表页，如果文章包含视频，则添加视频标示符号 -->
<div class="news-item">
	<ul>
	<% for (i=0, l=sources.length; i<l; i++) { %>
	<li class="clearfix">
		<a href="<%=sources[i].source_src%>">
			<% if (""!=sources[i].source_img) { %>
			<div class="news-img left">
				<img src="<%=sources[i].source_img%>" alt="" />
				<% if (""!=sources[i].video && "undefined"!=typeof(sources[i].video) ) { %><p class="icon-play-sm"></p><% } %>
			</div>
			<div class="news-brief-bar left clearfix">
			<% } else { %>
			<div class="news-brief-bar left clearfix" style="width: 100%;">
			<% } %>
				<p class="news-title left" id="<%=sources[i].source_id%>"><%=sources[i].source_title%></p>
				<% if (""!=sources[i].video && "undefined"!=typeof(sources[i].video)) { %><span class="icon-vedio left"></span><% } %>
				<p class="left"><%=sources[i].source_summary%></p>
			</div>
		</a>
	</li>
	<% } %>
	</ul>
</div>

</script>
</body>
</html>
