<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TV-列表</title>
<script type="text/javascript" src="js/template-native.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/list.js"></script>
<link rel="stylesheet" href="css/list.css" />
</head>
<body id="lifecirclebody" bgcolor="transparent" onLoad="init();" onUnload="">
<script id="template" type="text/html">
	<!-- 标题 -->
	<div class="head">返回</div>
	<!-- 列表 -->
	<div class="content">
		<ul class="conlist">
		<% for (i=0, l=sources.length; i<l; i++) { %>
			<li data_url="<%=sources[i].source_src%>">
				<img class="list_pic" src="<%=sources[i].source_img%>" />
				<div class="rightcon">
					<p class="list_title"><%=sources[i].source_title%></p>
					<p class="list_summry"><%=sources[i].source_summary%></p>
				</div>
			</li>
		<% } %>
		</ul>
		<div class="huadongtiao">
			<div class="huadongtiao-in"></div>
		</div>
	</div>
	<!-- 底部 -->
	<div class="foot">下载手机APP，发布信息互动</div>
</script>
</body>
</html>
